.scroll-icon {
    position: fixed;
    z-index: 9999;
    left: 50%;
    bottom: -100px;
    transform: translate3d(-50%, 0, 0);
    width: 80px;
    height: 80px;
    opacity: 0;
}
/* 
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
} */
@keyframes show {
    from { opacity: 0; bottom: -100px; }
    to { opacity: 1; bottom: 30px; }
}

.scroll-icon > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media screen and (max-width: 540px) {
    .scroll-icon { width: 60px; height: 60px; }
    @keyframes show {
        from { opacity: 0; bottom: -100px; }
        to { opacity: 1; bottom: 14px; }
    }
}