* { box-sizing: border-box; }
.fp-watermark { display: none; }
li { list-style: none;}
a { color: #000; text-decoration: none; }
:root { --vh: 100%; }
body {
  width: 100%;
  height: var(--vh);
}
p { margin: 0; }

/* 폰트 적용 css */
.dangdanghae { font-family: 'Dangdanghae' !important; }
.laundry { font-family: 'LaundryGothic' !important; }

#fullpage > * {
  font-family: 'PrettyNight'; 
}

.section {
  text-align: center;
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

#section-1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  overflow: hidden;
}

#section-1 .main-text {
  position: absolute;
  z-index: 3;
  color: #fff;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-1 .main-text > span { font-size: 46px; white-space: nowrap; }
#section-1 .main-text > div { font-size: 70px; color: #F2BA52; }

#section-1 .dimmed {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

#section-1 video {
  position: absolute;
  z-index: 1;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
}

@media screen and (max-aspect-ratio: 16/9) {
  #section-1 video {
      width: auto;
      height: calc(var(--vh, 1vh) * 100);
  }
}

#section-1 .main-text-2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60px;
  opacity: 0;
  transition: all 0.5s;
}

@keyframes mainText2Ani {
  0% { opacity: 0; width: 60px; } /* 시작 상태 */
  20% { opacity: 1; width: 60px; }
  100% { opacity: 1; width: 480px; } /* 종료 상태 */
}

#section-1 .main-text-2 span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  /* visibility: hidden; */
}

#section-2 {
  position: relative;
  background-color: #000;
  color: #fff;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-2 .center-line {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 1px;
  height: 0%;
  background-color: rgba(242, 186, 82, 0.3);
}

@keyframes centerLineShow {
  0% { height: 0%; }
  100% { height: 100%; }
}

#section-2 .inner-text {
  position: absolute;
  z-index: 3;
  font-size: 50px;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  white-space: nowrap;
  opacity: 0;
  transition: all 0.5s ease;
}

#section-2 .section-2-circle-wrapper {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#section-2 .section-2-circle-wrapper .section-2-circle {
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  width: 50rem;
  height: 50rem;
  opacity: 0;
  transition: opacity 0.8s;
}

#section-2 .section-2-circle-wrapper .section-2-circle span {
  border: 0.2rem solid rgba(242, 186, 82, 0.5);
  border-radius: 50%;
  animation-fill-mode: both;
  position: absolute;
  left: 0;
  top: 0px;
  opacity: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  animation: circle-effect 5s ease-in infinite;
}
#section-2 .section-2-circle-wrapper .section-2-circle span:nth-child(2) { animation-delay: 1s; }
#section-2 .section-2-circle-wrapper .section-2-circle span:nth-child(3) { animation-delay: 2s; }
#section-2 .section-2-circle-wrapper .section-2-circle span:nth-child(4) { animation-delay: 3s; }
#section-2 .section-2-circle-wrapper .section-2-circle span:nth-child(5) { animation-delay: 4s; }

@keyframes circle-effect {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }
  50% {
      opacity: 1.0;
  }
  100% {
      transform: scale(1);
      opacity: 0;
  }
}

#section-2 .section-2-circle-wrapper .section-2-bg {
  position:absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  margin-top: -13rem;
  margin-left: -13rem;
  width: 26rem;
  height: 26rem;
}
#section-2 .section-2-circle-wrapper .section-2-bg .cir01 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 14rem; height: 14rem; background-color: rgba(242, 186, 82, 0.1); border-radius: 100%; transform: scale(0); }
#section-2 .section-2-circle-wrapper .section-2-bg .cir02 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 11rem; height: 11rem; background-color: #483d26; border-radius: 100%; display: block; transform: scale(0); }
#section-2 .section-2-circle-wrapper .section-2-bg .cir03 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; margin: auto; width: 8rem; height: 8rem; background-color: #7f6a44; border-radius: 100%; display: block; transform: scale(0); }

@keyframes zoom {
	0% { transform: scale(0); } 
	100% { transform: scale(1); }
}

/* active */
#section-2 .section-2-circle-wrapper .animated { opacity: 1; }
#section-2 .section-2-circle-wrapper .animated .cir01 { animation: zoom 2s forwards; }
#section-2 .section-2-circle-wrapper .animated .cir02 { animation: zoom 2s forwards; animation-delay: 0.2s; }
#section-2 .section-2-circle-wrapper .animated .cir03 { animation: zoom 2s forwards; animation-delay: 0.4s; }


#section-3 {
  position: relative;
  background: url('../img/main/img-1.png') center/cover;
}

#section-3 .inner-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  color: #fff;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.5s ease;
}

#section-3 .inner-text .text-2 {
  color: #F2BA52;
  font-size: 90px;
}

/* @keyframes section3TextAni {
  0% { opacity: 0; width: 60px; }
  20% { opacity: 1; width: 60px; }
  100% { opacity: 1; width: 440px; }
} */

/* #section-3 .section3-text-2 span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
} */

#section-3 .center-line-1 {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 1px;
  height: 0%;
  background-color: rgba(242, 186, 82, 0.3);
  color: rgb(242, 186, 82);
}
/* 
#section-3 .center-line-2 {
  position: absolute;
  z-index: 1;
  top: 60%;
  width: 1px;
  height: 0%;
  background-color: rgba(242, 186, 82, 0.3);
} */

@keyframes centerLineShow-1 {
  0% { height: 0%; }
  100% { height: 100%; }
}

/* @keyframes centerLineShow-2 {
  0% { height: 0%; }
  100% { height: 40%; }
} */

#section-4 {
  position: relative;
  background: url('../img/main/img-2.png') center/cover;
}

#section-4 .inner-text {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  color: #fff;
  font-size: 50px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.5s ease;
}

#section-4 .center-line-1 {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 1px;
  height: 0%;
  background-color: rgba(242, 186, 82, 0.3);
}

/* #section-4 .center-line-2 {
  position: absolute;
  z-index: 1;
  top: 60%;
  width: 1px;
  height: 0%;
  background-color: rgba(242, 186, 82, 0.3);
} */

#section-5 {
  position: relative;
  background: url('../img/main/img-3.png') center/cover;
  transition: all 0.5s;
}

#section-5 .center-line {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 1px;
  height: 0%;
  background-color: rgba(242, 186, 82, 0.3);
}

#section-5 .inner-text { white-space: nowrap; opacity: 0; transition: all 0.5s ease; }

@keyframes centerLineShow-3 {
  0% { height: 0%; }
  100% { height: 50%; }
}

/* light */
#section-5 .light {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  z-index: 3;
  border-radius: 50%;
  width: 1px;
  height: 1px;
  background-color: rgba(242, 186, 82, 0.5);
  filter: blur(0.2px);
  -webkit-filter: blur(0.2px);
  opacity: 0;
  transition: all 0.5s;
}

@keyframes light {
  0% { 
    opacity: 0; 
    transform: translate3d(-50%, -50%, 0) scale(1); 
    -webkit-transform: translate3d(-50%, -50%, 0) scale(1); 
    -ms-transform: translate3d(-50%, -50%, 0) scale(1); 
    background-color: rgba(242, 186, 82, 0.5); 
  }
  30% { 
    opacity: 1; 
    transform: translate3d(-50%, -50%, 0) scale(400); 
    -webkit-transform: translate3d(-50%, -50%, 0) scale(400); 
    -ms-transform: translate3d(-50%, -50%, 0) scale(400); 
    background-color: rgba(242, 186, 82, 0.5); 
  }
  90% { 
    opacity: 1; 
    transform: translate3d(-50%, -50%, 0) scale(2000); 
    -webkit-transform: translate3d(-50%, -50%, 0) scale(2000); 
    -ms-transform: translate3d(-50%, -50%, 0) scale(2000); 
    background-color: #fff; 
  }
  100% { 
    opacity: 0; 
    transform: translate3d(-50%, -50%, 0) scale(2000); 
    -webkit-transform: translate3d(-50%, -50%, 0) scale(2000); 
    -ms-transform: translate3d(-50%, -50%, 0) scale(2000); 
    background-color: #fff; 
  }
}

#section-5 .point-text {
  font-size: 55px;
  padding-right: 10px;
}


#section-6 {
  position: relative;
  background-color: #F2BA52;
}

@property --opacity {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

#section-6 .content-left {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background-color: #F2BA52;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#section-6 .content-left .text div { color: #414E71; }
#section-6 .content-left .text div:nth-child(1) { font-size: 60px; }

#section-6 .content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
  background-color: #fff;
}

#section-6 .content-right .text { display: grid; gap: 120px; }
#section-6 .content-right .text .top {
  font-size: 40px;
  clip-path: inset(0 0 100% 0);
  transition: all 0.3s linear;
  white-space: nowrap;
}
#section-6 .content-right .text .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 34px;
}

#section-6 .content-right .text .bottom div:nth-child(1) {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 60px;
  opacity: 0;
  transition: all 0.5s;
}

@keyframes section6TextAni {
  0% { opacity: 0; width: 60px; } /* 시작 상태 */
  20% { opacity: 1; width: 60px; }
  100% { opacity: 1; width: 500px; } /* 종료 상태 */
}

#section-6 .content-right .text .bottom div:nth-child(1) > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#section-6 .content-right .text .bottom div:nth-child(2) { font-size: 24px; opacity: 0; transition: all 0.2s ease; }
#section-6 .graph { width: 500px; opacity: 0; transition: all 0.2s ease; }

#section-6 .animated {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /* border-radius: 100%; */
    background-image: conic-gradient(
      #fff var(--opacity),
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
    );
    will-change: transform, background-image;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    /* mask:radial-gradient(circle, transparent 47%, white calc(47% + 1px));
    -webkit-mask:radial-gradient(circle, transparent 47%, white calc(47% + 1px)); */

    animation: conic-gradient 6s ease 0s forwards;
}

@keyframes conic-gradient {
    50% {
        --opacity: 0%;
    }

    85% {
        --opacity: 100%;
    }
}

/* 섹션7: 성장하는 동행 */
#section-7 {
  position: relative;
  background-color: #F2BA52;
}

@property --opacity {
  syntax: '<percentage>';
  initial-value: 100%;
  inherits: false;
}

#section-7 .content-right {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  width: 50%; 
  height: 100%;
  background-color: #F2BA52;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

#section-7 .content-right .text div { color: #414E71; }
#section-7 .content-right .text div:nth-child(1) { font-size: 60px; }

#section-7 .content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 50%; 
  height: 100%;
  background-color: #fff;
}

#section-7 .content-left .text { 
  display: flex; 
  flex-direction: column;
  align-items: center;
  gap: 40px; 
}
#section-7 .content-left .text .top { font-size: 40px; clip-path: inset(0 0 100% 0); transition: all 0.3s linear; }
#section-7 .content-left .text .bottom {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
  opacity: 0;
  transition: all 0.5s;
  font-size: 40px;
}

@keyframes section7TextAni {
  0% { opacity: 0; width: 60px; } /* 시작 상태 */
  20% { opacity: 1; width: 60px; }
  100% { opacity: 1; width: 300px; } /* 종료 상태 */
}

#section-7 .content-left .text .bottom div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

#section-7 .hands { width: 500px; opacity: 0; transition: all 0.2s ease; }

#section-7 .animated {
    display: inline-block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    transform: scaleX(-1);
    /* border-radius: 100%; */
    background-image: conic-gradient(
      #fff var(--opacity),
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
    );
    will-change: transform, background-image;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    /* mask:radial-gradient(circle, transparent 47%, white calc(47% + 1px));
    -webkit-mask:radial-gradient(circle, transparent 47%, white calc(47% + 1px)); */

    animation: conic-gradient 6s ease 0s forwards;
    /* animation: conic-gradient 6s cubic-bezier(0.590, 0.010, 0.170, 1.000) 0s forwards; */
}

@keyframes conic-gradient {
    50% {
        --opacity: 0%;
    }

    85% {
        --opacity: 100%;
    }
}



/* after count page */

#after-count-page {
  position: relative;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
}
#after-count-page .text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  z-index: 3;
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
#after-count-page .text-container > .title {
  text-align: center;
  color: rgba(255,255,255,0.8);
}
#after-count-page .text-container > .title > p { font-size: 70px; }

#after-count-page .dimmed {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
#after-count-page video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  z-index: 1;
  width: 100%;
  transition: all 1s cubic-bezier(0.590, 0.010, 0.170, 1.000);
}

@media screen and (max-aspect-ratio: 16/9) {
  #after-count-page video {
      width: auto;
      height: calc(var(--vh, 1vh) * 100);
  }
}



@media screen and (max-width: 1024px) {
  #section-1 .main-text > span { font-size: 36px; }
  #section-1 .main-text > div { font-size: 55px; }
  @keyframes mainText2Ani {
    0% { opacity: 0; width: 60px; }
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 380px; }
  }
  #section-2 .inner-text { font-size: 40px; }
  #section-3 .inner-text { font-size: 32px; }
  #section-3 .inner-text .dangdanghae { font-size: 70px; }
  @keyframes section3TextAni {
    0% { opacity: 0; width: 60px; } /* 시작 상태 */
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 340px; } /* 종료 상태 */
  }
  #section-4 .inner-text { font-size: 44px; }
  #section-5 .inner-text { font-size: 34px; }
  #section-5 .inner-text .point-text { font-size: 46px; }
  #section-6 .content-left .text div:nth-child(1) { font-size: 50px; } 
  #section-6 .content-left .text div:nth-child(2) { font-size: 30px; } 
  #section-6 .content-right .text .top { font-size: 26px; }
  #section-6 .content-right .text .bottom { font-size: 28px; }
  #section-6 .content-right .text .bottom div:nth-child(1) > div { font-size: 24px; }
  #section-6 .content-right .text .bottom div:nth-child(2) { font-size: 20px; }
  @keyframes section6TextAni {
    0% { opacity: 0; width: 60px; } /* 시작 상태 */
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 360px; } /* 종료 상태 */
  }
  #section-6 .graph { width: 340px; }
  #section-7 .content-right .text div:nth-child(1) { font-size: 50px; }
  #section-7 .content-left .text .top { font-size: 26px; }
  #section-7 .content-left .text .bottom { font-size: 34px; }
  @keyframes section7TextAni {
    0% { opacity: 0; width: 60px; } /* 시작 상태 */
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 240px; } /* 종료 상태 */
  }
  #section-7 .hands { width: 360px; }
  #after-count-page .text-container > .title > p { font-size: 50px; }
}

@media screen and (max-width: 540px) {
  #section-1 .main-text > span { font-size: 28px; }
  #section-1 .main-text > div { font-size: 46px; }
  @keyframes mainText2Ani {
    0% { opacity: 0; width: 60px; }
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 320px; }
  }
  #section-2 .inner-text { font-size: 28px; }
  #section-3 .inner-text { font-size: 28px; }
  #section-3 .inner-text .dangdanghae { font-size: 54px; }
  @keyframes section3TextAni {
    0% { opacity: 0; width: 60px; } /* 시작 상태 */
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 260px; } /* 종료 상태 */
  }
  #section-4 .inner-text { font-size: 36px; }
  #section-5 .inner-text { font-size: 22px; }
  #section-5 .inner-text .point-text { font-size: 42px; display: block; padding-right: 0px; }
  #section-6 .content-left { width: 100%; height: 30%; }
  #section-6 .content-left .text div:nth-child(1) { font-size: 34px; } 
  #section-6 .content-left .text div:nth-child(2) { font-size: 20px; } 
  #section-6 .content-right { width: 100%; height: 70%; top: initial; bottom: 0; }
  #section-6 .content-right .text { gap: 40px; }
  #section-6 .content-right .text .top { font-size: 22px; }
  #section-6 .content-right .text .bottom { font-size: 26px; }
  #section-6 .content-right .text .bottom div:nth-child(1) > div { font-size: 22px; }
  #section-6 .content-right .text .bottom div:nth-child(2) { font-size: 18px; }
  @keyframes section6TextAni {
    0% { opacity: 0; width: 60px; }
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 330px; }
  }
  #section-6 .graph { width: 200px; }
  #section-7 .content-right { width: 100%; height: 26%; }
  #section-7 .content-right .text div:nth-child(1) { font-size: 34px; }
  #section-7 .content-left { width: 100%; height: 74%; top: initial; bottom: 0; }
  #section-7 .content-left .text { gap: 20px; }
  #section-7 .content-left .text .top { font-size: 22px; }
  #section-7 .content-left .text .bottom { font-size: 28px; }
  @keyframes section7TextAni {
    0% { opacity: 0; width: 60px; } /* 시작 상태 */
    20% { opacity: 1; width: 60px; }
    100% { opacity: 1; width: 200px; } /* 종료 상태 */
  }
  #section-7 .hands { width: 300px; }
  #after-count-page .text-container > .title > p { font-size: 32px; }
}