.contact-status-message {
    width: 80%;
    max-width: 420px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
    color: #222;
    font-family: 'Pretendard';
    background-color: rgb(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 16px;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    opacity: 0;
    animation: fadeInOut 4s ease-in-out forwards;
}

.contact-status-message-fail {
  background-color: var(--ct-danger-bg-subtle);
  border-color: var(--ct-danger-border-subtle);
  color: rgb(var(--ct-danger-rgb));
}

.contact-status-message-success {
    background-color: var(--ct-info-bg-subtle);
    border-color: var(--ct-info-border-subtle);
    color: rgb(var(--ct-info-rgb));
}

@keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
    10% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateX(-50%) translateY(20px);
    }
}