.portfolio-item {
    position: relative;
    overflow: hidden;
}
.portfolio-item > .img {
    width: 100%;
    height: 87%;
}
.portfolio-item > .img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.portfolio-item > .name {
    width: 100%;
    height: 13%;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-item:hover > .delete-btn {
    opacity: 1;
    visibility: visible;
}
.portfolio-item > .delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(var(--ct-danger-rgb));
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

@media screen and (max-width: 980px) {
    .portfolio-item-wrapper { gap: 24px !important; }
    .portfolio-item { width: 220px !important; height: 240px !important; }
    .portfolio-item > .name { font-size: 14px; }
}

@media screen and (max-width: 768px) {
    .portfolio-item-wrapper { gap: 22px !important; justify-content: space-between !important; }
    .portfolio-item { width: 180px !important; height: 200px !important; }
}

@media screen and (max-width: 540px) {
    .portfolio-item-wrapper { gap: 20px !important; }
    .portfolio-item { width: calc(50vw - 38px) !important; height: calc(37vw + 20px) !important; }
    .portfolio-item > .img { height: 80%; }
    .portfolio-item > .name { height: 20%; }
    .portfolio-item > .delete-btn { opacity: 1; visibility: visible; top: 6px; right: 6px; font-size: 22px; }
}