#section-8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section-8 .fp-overflow {
    overflow-y: visible;
}
#section-8 .slider {
    width: 80vw;
    max-width: 1400px;
    /* height: 600px; */
}
#section-8 .slider .slick-slide {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#section-8 .slider .slick-slide > div {
    display: flex;
    gap: 10px;
}
#section-8 .slider .slick-slide .item {
    height: 330px;
    position: relative;
    font-size: 24px;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
#section-8 .slider .slick-slide .item > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#section-8 .slider .slick-slide .item > .overlay {
    position: absolute;
    top: 0;
    left: 0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    color: #fff;
    font-size: 26px;
    padding: 20px;
}
#section-8 .slider .slick-slide .item > .overlay > .mission,
#section-8 .slider .slick-slide .item > .overlay > .contents {
    font-size: 16px;
}

#section-8 .slider .slick-slide .item:hover > .overlay { opacity: 1; }

#section-8 .slick-prev,
#section-8 .slick-next {
    z-index: 1;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
}
#section-8 .slick-prev { left: -90px; }
#section-8 .slick-next { right: -90px; }
#section-8 .slick-arrow::before {
    color: #414E71;
    font-size: 60px;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -43%, 0);
}

@media screen and (max-width: 1024px) {
    #section-8 .slick-prev { left: -68px; }
    #section-8 .slick-next { right: -68px; }
    #section-8 .portfolio-detail .content { padding: 30px 30px; }
    #section-8 .portfolio-detail .main-img { height: 600px; }
    #section-8 .portfolio-detail .content .name { font-size: 40px; margin-bottom: 30px; }
    #section-8 .portfolio-detail .content .box { height: 240px; border-radius: 20px; }
    #section-8 .portfolio-detail .content .box div:nth-child(1) { font-size: 24px; white-space: nowrap; }
}

@media screen and (max-width: 480px) {
    #section-8 .slider { width: 100vw; transform: translateY(-20px);}
    #section-8 .slick-prev { left: 40%; top: 96%; transform: translateY(0px); }
    #section-8 .slick-next { right: 40%; top: 96%; transform: translateY(0px); }
    #section-8 .slick-prev,
    #section-8 .slick-next {
        width: 30px;
        height: 30px;
    }
    #section-8 .slick-arrow::before {
        font-size: 40px;
    }
    #section-8 .slider .slick-slide {
        padding: 40px 20px 40px 20px;
        gap: 10px;
    }
    #section-8 .slider .slick-slide .item {
        height: calc(var(--vh, 1vh) * 50 - 80px);
    }
    #section-8 .slider .slick-slide .item:hover > .overlay { opacity: 0; }
    #section-8 .slider .slick-slide .item > .active { opacity: 1 !important; }
}

